<%- include('../partials/header.ejs')%>

    <div class="line1"></div>

    <main class="main-events">
    
        <div class="container p-5"">


            <div class="row mt-3">
                <div class="card mb-3" style="width:600px">
                    <div class="card-body" style = "width: 18rem;">
                        <%if(events.length) {%>
                            <h4 class="card-title">American</h4>
                            <h6 class="card-subtitle text-muted">Enjoy the product of diversity</h6>
                                <%events.forEach(event => {%>
                                    <% if(event.category === 'American') {%>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item p-0"><a href = "/events/<%= event.id%>"><%= event.title%></a></li>
                                                </ul>     
                                            </div>
                                    <% } %>
                                <% });
                        } else {%>
                                <p>There are not events to display...</p>
                        <%}%>          
                    </div>
                </div>
            </div>


            <div class="row mt-3">
                <div class="card mb-3" style="width:600px">
                    <div class="card-body" style = "width: 18rem;">
                        <%if(events.length) {%>
                            <h4 class="card-title">African</h4>
                            <h6 class="card-subtitle text-muted">Enjoy the taste of spices and herbs</h6>
                                <%events.forEach(event => {%>
                                    <% if(event.category === 'African') {%>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item p-0"><a href = "/events/<%= event.id%>"><%= event.title%></a></li>
                                                </ul>     
                                            </div>
                                    <% } %>
                                <% });
                        } else {%>
                                <p>There are not events to display...</p>
                        <%}%>          
                        
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="card mb-3" style="width:600px">
                    <div class="card-body" style = "width: 18rem;">
                        <%if(events.length) {%>
                            <h4 class="card-title">Asian</h4>
                            <h6 class="card-subtitle text-muted">Enjoy the taste of spices and herbs</h6>
                                <%events.forEach(event => {%>
                                    <% if(event.category === 'Asian') {%>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item p-0"><a href = "/events/<%= event.id%>"><%= event.title%></a></li>
                                                </ul>     
                                            </div>
                                    <% } %>
                                <% });
                        } else {%>
                                <p>There are not events to display...</p>
                        <%}%>          
                        
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="card mb-3" style="width:600px">
                    <div class="card-body" style = "width: 18rem;">
                        <%if(events.length) {%>
                            <h4 class="card-title">European</h4>
                                <%events.forEach(event => {%>
                                    <% if(event.category === 'European') {%>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item p-0"><a href = "/events/<%= event.id%>"><%= event.title%></a></li>
                                                </ul>     
                                            </div>
                                    <% } %>
                                <% });
                        } else {%>
                                <p>There are not events to display...</p>
                        <%}%>          
                        
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="card mb-3" style="width:600px">
                    <div class="card-body" style = "width: 18rem;">
                        <%if(events.length) {%>
                            <h4 class="card-title">Other</h4>
                                <%events.forEach(event => {%>
                                    <% if(event.category === 'Other') {%>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item p-0"><a href = "/events/<%= event.id%>"><%= event.title%></a></li>
                                                </ul>     
                                            </div>
                                    <% } %>
                                <% });
                        } else {%>
                                <p>There are not events to display...</p>
                        <%}%>          
                        
                    </div>
                </div>
            </div>




        </div>

            

        

        
    </main>


    <div class="line1"></div>

    <%- include('../partials/footer.ejs')%>